Thumbs.db
build/
out/
*Db.properties
*Db.script
*.iml
*.ipr
*.iws
/*.war
/*.zip
.classpath
.DS_Store
.gradle
.idea
.project
.settings
/logs
/plugins
/plugin.xml
/prodDb.*
/stacktrace.log
/target
/test/reports
/web-app/plugins
/web-app/WEB-INF/classes
